<!DOCTYPE html>
<html ng-app>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="todo.js"></script>
		<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/foundation/4.2.2/css/foundation.min.css">
		<link rel="stylesheet" href="todo.css">
	</head>
	<body>
		<h2>Todo</h2>
		<div ng-controller="TodoCtrl">
			<span>{{remaining()}} of {{todos.length}}</span>
			[<a href="" ng-click="archive()">archive</a>]
			<ul class="unstyled">
				<li ng-repeat="todo in todos">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
			<form ng-submit="addTodo()">
				<input type="text" ng-model="todoText" size="30"
							 placeholder="add new todo here">
				<input class="btn-primary" type="submit" value="add">
			</form>
			<input type="text" ng-model="ciccio.data">
			<div class="{{ ciccio.data }}">Eccolo!</div>
		</div>
	</body>
</html>